*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
margin: 0 auto;
max-width: 1500px;
}
.d-flex{
display: flex;
}
.debug{
  background-color: brown;
width: 100%;
height: 30px;
}

li{
text-decoration: none;
list-style: none;
}

.p-relative{
position: relative;
}
/* heder */
div nav li a{
text-decoration: none;
}

div .logo img{
width: 20px;
}

.top-bar{
justify-content: space-between;
}

/* Main */
div img{
width: 400px;
position: absolute;

}
.foto1{
z-index: 1;
}
/* Footer */