*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.d-flex{
  display: flex;
}

.container{
  margin: 0 auto;
  max-width: 1450px;
  width: 99%;
  flex-wrap: wrap;
}

.prezzo{
color: red;
}

.line-through{
text-decoration: line-through;

}
/* header */
/* main */
.container .product{
  margin: 40px auto;
}

.product{
  position: relative;
  display: inline-block;

}

.product img{
  cursor: pointer;
  width: 465px;
  height: 670px;
}

.product .cuore{
  position: absolute;
  top: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 50px;
  width: 50px;
  margin-top: 10px;
  font-size: 2rem;
}

.product .cuore:hover{
  color: red;
}

.product .discount{
  position: absolute;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
  width: 55px;
  height: 25px;
  margin-bottom: 100px;
  background-color: red;
  color: white;
}

.product .eco{
  position: absolute;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
  width: 100px;
  height: 25px;
  margin-bottom: 100px;
  margin-left: 60px;
  background-color: green;
  color: white;
}

.product .discount{
  position: absolute;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
  width: 55px;
  height: 25px;
  margin-bottom: 100px;
  background-color: red;
  color: white;
}

.product .eco-last{
  position: absolute;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
  width: 100px;
  height: 25px;
  margin-bottom: 100px;
  background-color: green;
  color: white;
}

.prezzo{
  color: red;
  font-weight: 800;
}

.line-through{
  text-decoration: line-through;
}

.product .foto1{
  position: absolute;
  top: 0;
  left: 0;
}

.product:hover .foto1{
  display: none;
}

/* footer */
footer .container{
  justify-content: space-between;
  color: white;
}
footer{
  align-items: center;
  background-color: #1a1a1a;
  height: 100px;
}


footer .container ul li{
  padding: 0;
  line-height: 40px;
  padding-right: 10px;
}

footer .social a{
  color: white;
}
footer .container ul li a{
  text-decoration: none;
  color: white;
}


footer .social i{
padding-right: 5px;
font-size: large;
line-height: 40px;
}